{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'mfa_app/styles.css' %}">
</head>
<body>
<div class="container">
    <h2>Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
    <div class="link">
        <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
    </div>
</div>
</body>
</html>
